/* top right bottom left */

* {
	padding: 0;
	z-index: 2;
}

body {
	color: white; 
	font-family: 'Lato', sans-serif;
    margin: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
    background-attachment: fixed;
	/* background-image: linear-gradient(180deg, rgba(6,15,37,1) 0%, rgba(23,30,51,1) 85%, rgba(26,36,52,1) 100%); */
	background-image: linear-gradient(180deg, rgba(6,15,37,1) 0%, rgba(26,36,52,1) 100%);
}

a {color: lightblue;}

#landscape {
	position: fixed;
	width: 100vw;
	left: 0px;
	bottom: -5px;
	z-index: 1;
}

#landscape-img {
	width: 100%;
}

#content {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer";
	width: 100%;
}

#headtext {
	font-family: "Dancing Script", cursive;
	color:white; 
	font-size: 5rem;
	padding-left: 5%;
	grid-area: header;
	text-decoration: none;
	}

nav {
	grid-area: nav;
	margin: 0px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background-color: rgba(75,0,130,0.2);
	z-index: 3;
	height: 4rem;
}

nav:hover {
	background-color: rgba(75,0,130,1);
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-column-gap: 20px;
	grid-template-rows: auto;
	grid-template-areas:
		"h2 h2"
		"intro intro"
		"a1_title a1_title"
		"a1_desc a1_desc"
		"a1_text a1_media"
		"a2_title a2_title"
		"a2_desc a2_desc"
		"a2_text a2_media"
		"a3_title a3_title"
		"a3_desc a3_desc"
		"a3_text a3_media";
	background: rgba(255,255,255,0.1);
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	grid-area: h2;
	font-size: 2rem;
	}
	
h3 {
	font-size: 1.6rem;
	}
	
h4 {
	font-size: 1.2rem;
	font-style: italic;
	color: gray;
	margin: 0;
}

.text {
	height: 85vh;
	font-size: 1.2rem;
	text-align: justify;
}

.proj_media {
	justify-self: center;
}

.proj_photo {
	width: 90%;
	padding: 20px;
}

#intro {grid-area: intro;}

#a1_title {grid-area: a1_title;}
#a1_desc {grid-area: a1_desc;}
#a1_text {grid-area: a1_text;}
#a1_media {grid-area: a1_media;}

#a2_title {grid-area: a2_title;}
#a2_desc {grid-area: a2_desc;}
#a2_text {grid-area: a2_text;}
#a2_media {grid-area: a2_media;}

#a3_title {grid-area: a3_title;}
#a3_desc {grid-area: a3_desc;}
#a3_text {grid-area: a3_text;}
#a3_media {grid-area: a3_media;}

footer {
	text-align: right;
	width: 100%;
	font-size: 0.9rem;
	color: rgba(90,90,90,1);
	grid-area: footer;
	border-top: 1px solid white;
	padding-top: 3px;
}

.icon {
	width: 20px;
}

.icon:hover {
	filter: hue-rotate(30deg);
}

#contactform {
	grid-area: text1;
}

.formtext {
	font-size: 1.3rem;
	width: 50%;
}

#message {
	height: 30%;
	font-size: 1.3rem;
}

#submit {
	font-size: 1rem;
	padding: 3px;
}

@media only screen and (max-width: 640px) {
	main {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"h2"
		"intro"
		"a1_title"
		"a1_desc"
		"a1_text"
		"a1_media"
		"a2_title"
		"a2_desc"
		"a2_text"
		"a2_media"
		"a3_title"
		"a3_desc"
		"a3_text"
		"a3_media";
	}
	
	.text {
	height: auto;
	}

}

}

@media print {
	body {
		color: black;
		background-color: white;
		margin: 25mm 25mm 25mm 25mm;
	}
	
	#landscape {display: none;}
	
	h1 {
		font-size: 3rem;
		padding-left: 0;
		margin: 0;
	}
	h2 {font-size: 1.5rem;}
	h3 {font-size: 1.2rem;}
	
	main {
		padding-left: 0;
		padding-right: 0;
		grid-column-gap: 0;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"h2"
			"h3"
			"text1"
			"text2";
	}
	
	nav {display: none;}
	
	footer {color: black;}
	
	.icon {display: none;}
	
}