nav {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid white;
	background-color: rgba(75,0,130,0.2);
	z-index: 10;
}

nav:hover {
	background-color: rgba(75,0,130,1);
}

nav a {
	text-decoration: none;
	color: rgb(147,112,219);
	padding: 10px 20px 10px 20px;
	font-size: 20px;
}

nav a:hover {
	color: white;
}

nav ul {
    list-style-type: none;
	padding-left: 5%;
}

nav ul li{
    display: inline;
	position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
	left: 0px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li{
    display: block;
	width: 200px;
	padding-top: 27px;
	padding-bottom: 10px;
	background-color: rgba(75,0,130,1);
}