/* top right bottom left */

* {
	padding: 0;
	z-index: 2;
}

body {
	color: white; 
	font-family: 'Lato', sans-serif;
    margin: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
    background-attachment: fixed;
	/* background-image: linear-gradient(180deg, rgba(6,15,37,1) 0%, rgba(23,30,51,1) 85%, rgba(26,36,52,1) 100%); */
	background-image: linear-gradient(180deg, rgba(6,15,37,1) 0%, rgba(26,36,52,1) 100%);
}

a{text-decoration: none;}

a:visited {color: rgb(147,112,219);}
a:hover {color: hotpink;}

#landscape {
	position: fixed;
	width: 100vw;
	left: 0px;
	bottom: -5px;
	z-index: 1;
}

#landscape-img {
	width: 100%;
}

#content {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer";
	width: 100%;
}

#headtext {
	font-family: "Dancing Script", cursive;
	color:white; 
	font-size: 5rem;
	padding-left: 5%;
	grid-area: header;
	text-decoration: none;
	}

nav {
	grid-area: nav;
	margin: 0px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background-color: rgba(75,0,130,0.2);
	z-index: 3;
	height: 4rem;
}

nav:hover {
	background-color: rgba(75,0,130,1);
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-column-gap: 20px;
	grid-template-rows: auto;
	grid-template-areas:
		"h2 h2"
		"h3 h3"
		"text1 rightmedia"
		"text2 text2";
	background: rgba(255,255,255,0.1);
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	grid-area: h2;
	font-size: 2rem;
	}
	
h3 {
	grid-area: h3;
	font-size: 1.6rem;
	}

#photo {
	float: left;
	grid-area: photo;
	width: 200px;
	padding: 0 10px 1px 0; 
}

#cartoonmaria {
	grid-area: rightmedia;
	justify-self: center;
	width: 100%;
}

#videoresume {
	grid-area: rightmedia;
	justify-self: center;
}

.videocontainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /*for 16:9*/
}

.iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#reflectionphotos {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: rightmedia;
	justify-self: center;
}

#table {
	border: 2px solid white;
	border-collapse: collapse;
	margin: 20px;
}

tr:nth-child(even) {
	background-color: rgba(100,100,100,0.2);
}

caption {
	font-size: 2rem;
}

thead {
	background-color: rgba(75,0,130,0.2);
	border-bottom: 2px solid white;
}

th, td {
	padding: 10px 5px 10px 5px;
	font-size: 1.3rem;
	border: 1px solid gray;
	border-collapse: collapse;
}

#text1 {
	grid-area: text1;
	font-size: 1.2rem;
	text-align: justify;
}

#text2 {
	grid-area: text2;
	font-size: 1rem;
	justify-self: center;
	}

footer {
	text-align: right;
	width: 100%;
	font-size: 0.9rem;
	color: rgba(90,90,90,1);
	grid-area: footer;
	border-top: 1px solid white;
	padding-top: 3px;
}

.icon {
	width: 20px;
}

.icon:hover {
	filter: hue-rotate(30deg);
}

#contactform {
	grid-area: text1;
}

.formtext {
	font-size: 1.3rem;
	width: 50%;
}

#message {
	height: 30%;
	font-size: 1.3rem;
}

#submit {
	font-size: 1rem;
	padding: 3px;
}

@media only screen and (max-width: 640px) {
	main {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"h2"
		"h3"
		"text1"
		"rightmedia"
		"text2";
	}
	
	.formtext {
	width: 100%;
	}

}

@media print {
	body {
		color: black;
		background-color: white;
		margin: 25mm 25mm 25mm 25mm;
	}
	
	#landscape {display: none;}
	
	h1 {
		font-size: 3rem;
		padding-left: 0;
		margin: 0;
	}
	h2 {font-size: 1.5rem;}
	h3 {font-size: 1.2rem;}
	
	main {
		padding-left: 0;
		padding-right: 0;
		grid-column-gap: 0;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"h2"
			"h3"
			"text1"
			"text2";
	}
	
	nav {display: none;}
	
	footer {color: black;}
	
	.icon {display: none;}
	
}